body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.skillcheck-link {
    font-size: 48px;
    color: #00b300;
    text-decoration: none;
    font-family: 'Arial', sans-serif; /* Specifica il font desiderato */
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

tfoot td {
    background-color: #f2f2f2;
}

th a:hover {
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.highlighted-column {
    background-color: #abecab; /* Colore verde chiaro */
}